.round{
    border-radius:100% ;
}
.border{
    border: 1px solid black;
    margin: 50px 580px;
    padding: 10px 5px 10px 5px;
    background-color:rgb(46, 42, 42);
    color: white;
    border-radius: 10px;
}
.btn{
    width: 40px;
}
.b-clr{
    border-color:  rgb(175, 173, 173);;
    color: white;
}
.grn-clr{
    background-color: greenyellow;
}
.red{
    background-color: red;
}
.width{
    width: 95%;
}
